<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bilty PDF</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        @font-face{
        font-family: 'Impact', sans-serif;
        src: url('https://bhandal-roadways-doc-maker.onrender.com/static/impact.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
      body {
        font-family: sans-serif;
        background-color: transparent;
      }
      #bilty-container {
        background-color: transparent;
      }
      .size-4 {
        width: 1rem;
        height: 1rem;
      }
      .size-20 {
        width: 5rem;
        height: 5rem;
      }
      .size-30 {
        width: 7.5rem;
        height: 7.5rem;
      }
      .wrap-break-word {
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div
      id="bilty-container"
      class="max-w-4xl mx-auto p-4 bg-transparent font-sans text-sm"
    >
      <!-- Header Section -->
      <header>
        <p class="text-center font-bold text-sm mb-1">
          Subject to Raipur Jurisdiction
        </p>
        <div class="flex justify-between items-center">
          <!-- Logo -->
          <img
            src="https://bhandal-roadways-doc-maker.onrender.com/static/logo.png"
            alt="Bhandal Roadways Logo"
            class="size-30 ml-4 -mt-16"
          />

          <!-- Company Info -->
          <div class="flex flex-col items-center">
            <h1
              style="font-family: Impact, sans-serif"
              class="text-5xl font-extrabold text-center tracking-wider"
            >
              BHANDAL ROADWAYS
            </h1>
            <p class="text-sm font-semibold bg-black text-white px-16 mt-1">
              TRANSPORT CONTRACTOR & COMMISSION AGENT
            </p>
            <div class="flex gap-1 justify-center items-center mt-2">
              <i class="fa-solid fa-location-dot"></i>
              <p class="text-sm font-bold">
                House No: 21, Harshit Vihar, Phase 05, Tatibandh, RAIPUR: 492099
                (C.G)
              </p>
            </div>
            <div
              class="text-lg font-bold flex justify-center items-center mt-1 gap-1"
            >
              <i class="fa-solid fa-envelope scale-95"></i>
              <p>bhandalroadways@gmail.com</p>
            </div>
            <div
              class="text-lg font-bold flex justify-center items-center mb-2 gap-1"
            >
              Transporter ID: 22AHSPB6197L1ZV
            </div>
          </div>

          <!-- Contact Info Right -->
          <div class="text-right text-xs -mt-20">
            <div class="flex gap-1 justify-center items-center mt-2">
              <i class="fa-solid fa-phone"></i>
              <p class="font-bold text-[14px]">+91 93016 76383</p>
            </div>
            <p class="font-bold text-[14px]">+91 9406021740</p>
            <p class="font-bold text-[14px]">+91 6261294248</p>
          </div>
        </div>
      </header>

      <!-- Transporter and Consignee Header -->
      <div class="mb-4 w-full">
        <div class="text-center">
          <p
            style="font-family: Calibri, sans-serif"
            class="text-[20px] font-extrabold text-red-600 inline-block px-2"
          >
            Consignee Copy
          </p>
        </div>
      </div>

      <!-- Basic LR Details -->
      <div class="grid grid-cols-4 gap-x-2 text-sm font-bold mb-4">
        <div class="col-span-2 ml-2 mb-2">
          <p>
            L.R No:
            <span class="text-xl font-bold text-red-500"
              ><%= bilty.lrNo %></span
            >
          </p>
        </div>
        <div class="col-span-2 flex justify-end items-center mr-2">
          <p>Date: <span class="font-bold"><%= date %></span></p>
        </div>

        <div class="col-span-4 border border-black flex">
          <p class="w-1/2 border-r ml-2 py-1">
            Truck No:
            <span class="font-bold uppercase"><%= bilty.truckNo %></span>
          </p>
          <p class="w-1/2 border-r ml-2 py-1">
            From: <span class="font-bold"><%= bilty.from %></span>
          </p>
          <p class="w-1/2 ml-2 py-1">
            To: <span class="font-bold"><%= bilty.to %></span>
          </p>
        </div>
      </div>

      <!-- Consignor/Consignee Block -->
      <div class="grid grid-cols-2 mb-4 text-sm">
        <!-- Consignor -->
        <div class="p-2">
          <p>
            Consignor:
            <span class="font-bold"><%= bilty.consignor.name %></span>
          </p>
          <p class="mt-1 leading-5">
            Address:
            <span class="font-bold"><%= bilty.consignor.address %></span>
          </p>
          <p class="mt-2">
            GST No:
            <span class="font-bold"><%= bilty.consignor.gstNumber %></span>
          </p>
        </div>
        <!-- Consignee -->
        <div class="p-2">
          <p>
            Consignee:
            <span class="font-bold"><%= bilty.consignee.name %></span>
          </p>
          <p class="mt-1">
            Address:
            <span class="font-bold wrap-break-word"
              ><%= bilty.consignee.address %></span
            >
          </p>
          <p class="mt-2">
            GST No:
            <span class="font-bold"><%= bilty.consignee.gstNumber %></span>
          </p>
        </div>
      </div>

      <!-- Load Description Table -->
      <table class="w-full border-collapse border border-black text-sm">
        <thead>
          <tr class="bg-gray-100 font-bold text-center">
            <th class="border border-black p-1 w-1/12">S. No.</th>
            <th class="border border-black p-1 w-5/12">Description of Load</th>
            <th class="border border-black p-1 w-2/12">Quantity</th>
            <th class="border border-black p-1 w-2/12">Rate</th>
            <th class="border border-black p-1 w-2/12">FREIGHT</th>
          </tr>
        </thead>
        <tbody class="text-center font-bold">
          <% let totalWeight = 0; bilty.packages.forEach(function(item, index){
          totalWeight += Number(item.weight); %>
          <tr>
            <td class="border border-black p-1"><%= index + 1 %></td>
            <td class="border border-black p-1"><%= item.description %></td>
            <td class="border border-black p-1"><%= item.weight %> MT</td>
            <td class="border border-black p-1"><%= item.rate %></td>
            <td class="border border-black p-1"><%= item.freight %></td>
          </tr>
          <% }); %> <% // Extra empty rows agar packages < 3 
          const extraRows = 2 
          if(bilty.packages.length <=3){
          for(let i = 0; i < extraRows; i++) { %>
          <tr>
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">&nbsp;</td>
          </tr>
          <% }} %>

          <!-- Total row -->
          <tr class="font-bold">
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">Total: 
              <%= totalWeight.toFixed(3) %> MT
            </td>
            <td class="border border-black p-1">&nbsp;</td>
            <td class="border border-black p-1">&nbsp;</td>
          </tr>
        </tbody>
      </table>

      <!-- Footer Table -->
      <table
        class="w-full border-r border-l border-b border-black text-sm mb-4"
      >
        <tbody class="font-bold">
          <tr>
            <td
              class="border-r border-b text-left border-black px-1 font-bold w-[25%]"
            >
              e-Way Bill: <%= bilty.eWayBillNo %>
            </td>
            <td
              class="border-r text-left text-xs border-black p-1 font-bold w-[25%]"
            >
              • The Goods are accepted for carrier subject to terms and
              condition overleaf.
            </td>
            <td class="border-r border-b border-black p-1 w-[10%]"></td>
            <td
              class="border-r border-b text-center text-lg border-black p-1 font-bold w-[15%]"
            >
              Balance
            </td>
            <td
              class="border-r border-b text-center font-bold border-black p-1 w-[15%]"
            >
              As per decided rate
            </td>
          </tr>
          <tr class="border-b">
            <td class="border-r text-left border-black p-1 font-bold w-[25%]">
              <div>
                <p>Invoice No.: <%= bilty.invoiceNo %></p>
                <p class="uppercase">Value: As per invoice</p>
              </div>
            </td>
            <td
              class="border-r text-left text-xs border-black p-1 font-bold w-[25%]"
            >
              • We are only broker not responsible for any type of claim (i.e.
              theft, damage, shortage, leakage, brokerage etc).
            </td>
            <td
              class="border-r text-center text-2xl border-black p-1 font-bold w-[10%]"
              colspan="2"
            >
              To Pay Total
            </td>
            <td
              class="border-r text-center border-black p-1 font-bold w-[15%]"
            ></td>
          </tr>
          <tr>
            <td class="border-r text-left border-black p-1 font-bold w-[22%]">
              <div>
                <p class="mb-2">HDFC A/C: 50200098240792</p>
                <p class="uppercase">IFSC CODE: HDFC0003692</p>
              </div>
            </td>
            <td
              colspan="2"
              class="border-r text-md text-center border-black p-1 font-bold w-[48%]"
            >
              <div class="my-3">
                <p>GST Tax Will Be Paid By</p>
                <div class="flex gap-4 justify-center mt-2">
                  <label
                    class="flex items-center space-x-2 cursor-pointer mb-4"
                  >
                    <input type="checkbox" class="h-4 w-4 accent-blue-600" />
                    <span class="text-sm text-gray-900 font-bold"
                      >Consignor</span
                    >
                  </label>
                  <label
                    class="flex items-center space-x-2 cursor-pointer mb-4"
                  >
                    <input type="checkbox" class="h-4 w-4 accent-blue-600" />
                    <span class="text-sm text-gray-900 font-bold"
                      >Consignee</span
                    >
                  </label>
                </div>
              </div>
            </td>
            <td
              colspan="2"
              class="border-r text-2xl border-black p-1 font-bold w-[30%]"
            >
              <div class="text-sm text-right mt-1">
                <% if (bilty.includeDigitalStamp) { %>
                <img src="https://bhandal-roadways-doc-maker.onrender.com/static/stamp.jpg" alt="stamp" class="size-20 mx-auto" />
                <% } %>
                <p
                  class="font-normal <%= bilty.includeDigitalStamp ? 'mt-1' : 'mt-20' %>"
                >
                  For, <span class="font-bold">Bhandal Roadways</span>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
